
@{
    ViewBag.Title = "Create";
}
<h2>
    Create Auction
</h2>
<br />
<form method="post">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="Title" value="" /></td>
        </tr>
        <tr>
            <td>Picture URL</td>
            <td><input type="text" name="PictureURL" value="" /></td>
        </tr>
        <tr>
            <td>Discription</td>
            <td><input type="text" name="Discription" value="" /></td>
        </tr>
        <tr>
            <td>Actual Amount</td>
            <td><input type="text" name="ActualAmount" value="" /></td>
        </tr>
        <tr>
            <td>Starting Time</td>
            <td><input type="text" name="StartingTime" value="" /></td>
        </tr>
        <tr>
            <td>Ending Time</td>
            <td><input type="text" name="EndingTime" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button>Save</button></td>
        </tr>
    </table>
</form>